package auth

import (
	"doppler/internal/components/shared"
	"doppler/internal/models"
)

templ Profile(user *models.User) {
	Hi!
	{ user.Username }
	{ user.Email }
}

templ ProfileIndex(user *models.User) {
	@shared.Layout("profile", user) {
		<div class="lg:p-72 p-12">
			@Profile(user)
		</div>
	}
}
