package components

import "doppler/internal/models"

templ ListPosts(posts []models.Post) {
	for _, post := range posts {
		<div class="card bg-base-100 w-96">
			{ post.User }
			{ post.Content }
		</div>
	}
}
