package post

import (
	"doppler/internal/components/shared"
	"doppler/internal/models"
)

templ PostIndex(listCmp templ.Component, user *models.User) {
	@shared.Layout("posts", user) {
		@listCmp
	}
}
